@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 270 58.1% 51.4%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 270 58.1% 51.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.05em;
      /* or any custom value */
  }
 
  body {
    @apply bg-space-black text-stellar-silver;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: "Rubik", sans-serif;

  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #6b46c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}